footer.footer
    .wrapper
        .footer__content
            .footer__logo
                a(href="/")
                    img(src="./images/i/logo.svg", alt="")
            .footer__social
                a(href="#")
                    img(src="./images/linkedin.png?1", alt="")
                a(href="#")
                    img(src="./images/linkedin.png?1", alt="")
                a(href="#")
                    img(src="./images/linkedin.png?1", alt="")
                a(href="#")
                    img(src="./images/linkedin.png?1", alt="")
            .footer__bottom
                a(href="#") Privacy Statement
                a(href="#") Cookie policy
                    