footer.footer
    .wrapper
        .footer__content
            .footer__logo
                a(href="/")
                    img(src="./images/logo.svg", alt="")
            .footer__social
                a(href="#")
                    img(src="./images/icons-white-linkedin.png", alt="")
                a(href="#")
                    img(src="./images/icons-white-facebook.png", alt="")
                a(href="#")
                    img(src="./images/icons-white-facebook.png", alt="")
                a(href="#")
                    img(src="./images/linkedin.svg?1", alt="")
            .footer__bottom
                a(href="#") Privacy Statement
                a(href="#") Cookie policy
                    