footer.footer
    .wrapper
        .footer__content
            .footer__logo
                a(href="/")
                    img(src="./images/i/logo.svg", alt="")
            .footer__social
                a(href="#")
                    img(src="./images/linkedin.svg", alt="")
                a(href="#")
                    img(src="./images/twitter.svg", alt="")
                a(href="#")
                    img(src="./images/instagram.svg", alt="")
                a(href="#")
                    img(src="./images/facebook.svg", alt="")
            .footer__bottom
                a(href="#") Privacy Statement
                a(href="#") Cookie policy
                    