footer.footer
    .wrapper
        .footer__content
            .footer__logo
                a(href="/")
                    img(src="./images/i/logo.svg", alt="")
            .footer__social
                a(href="#")
                    img(src="./images/iconmonstr-linkedin-1-240.png", alt="" style="padding-bottom: 2px;")
                a(href="#")
                    img(src="./images/iconmonstr-twitter-1-240.png", alt="")
                a(href="#")
                    img(src="./images/iconmonstr-instagram-11-240.png", alt="")
                a(href="#")
                    img(src="./images/iconmonstr-facebook-6-240.png", alt="")
            .footer__bottom
                a(href="#") Privacy Statement
                a(href="#") Cookie policy
                    