header.header
    .wrapper
        .header__content
            .header__left
                .header__logo
                    a(href="/")
                        img(src="./images/logo.svg", alt="") 
                
            .header__right

                .header__select 
                    .select
                        input#item00(name='sortType', type='radio', value='item00', checked='checked')
                        label#item_1(for='item00' )     
                            span Netherlands
                            span nl
                        input#item01(name='sortType', type='radio', value='item01')
                        label#item_2(for='item01' ) 
                            span Netherlands 2
                            span nl 2
                        input#item02(name='sortType', type='radio', value='item02')
                        label#item_3(for='item02' ) 
                            span Netherlands 3
                            span nl 3
                        //- input#item03(name='sortType', type='radio', value='item03')
                        //- label#item_4(for='item03' style="background-image: url(../images/i/Monero.svg);") Netherlands4
                        //- input#item04(name='sortType', type='radio', value='item04')
                        //- label#item_5(for='item04' style="background-image: url(../images/i/Ripple.png);") Ripple (XRP)
                    

                .header__blockbutton
                    button.button buy now
                
                .header__burger
                    .burger
                        .burger__line 
                        .burger__line 
                        .burger__line 

            .adaptmenu
                .adaptmenu__content
                    
                    .adaptmenu__item
                        a(href="#one") 
                            span Mission  
                    .adaptmenu__item
                        a(href="#twoo") 
                            span The process  
                    .adaptmenu__item
                        a(href="#three") 
                            span Our story 
                    .adaptmenu__item
                        a(href="#four") 
                            span About us   
                    .adaptmenu__item
                        a(href="#five") 
                            span FAQ  
                    .adaptmenu__item
                        a(href="#six") 
                            span Contact   
                    .adaptmenu__item
                        a(href="#seven") 
                            span find us  
                    