header.header
    .wrapper
        .header__content
            .header__left
                .header__logo
                    a(href="/")
                        img(src="./images/logo.svg", alt="") 
                
            .header__right

                .header__select 
                    span Netherlands <
                    

                .header__blockbutton
                    button.button buy now
                
                .header__burger
                    .burger
                        .burger__line 
                        .burger__line 
                        .burger__line 

                

            .adaptmenu
                    .adaptmen__close.close
                        img(src="", alt="")
                    .adaptmenu__content
                       
                        .adaptmenu__item
                            a(href="#") Modules  
                        .adaptmenu__item
                            a(href="#") Company   