
.slider_custom{
    .swiper-pagination, .swiper-button-next, .swiper-button-prev{
        display: none;
    }

    .swiper-pagination-bullet{
        width: rem(10);
        height: rem(10);
        margin: 0 rem(5);
    }
    
    .swiper-pagination-bullet-active{
        background: #479896 !important;
    }

    .swiper-button-next, .swiper-button-prev{
        position: absolute;
        cursor: pointer;
        top: 50%;
        background-image: url(../images/icn_bottom.png);
        width: 30px;
        height: 30px;
        background-size: contain;
    }

    .swiper-button-prev{
        left: 5px;
        transform: rotate(90deg);
    }

    .swiper-button-next{
        right: 5px;
        transform: rotate(-90deg);
    }

    .swiper-button-disabled{
        opacity: 0 !important;
    }
}




@media screen and (max-width:500px){
    .slider_custom{
        .swiper-pagination, .swiper-button-next, .swiper-button-prev{
            display: block;
        }
    
        .swiper-container{
            overflow: visible;
        }
    
        .swiper-pagination{
            left: 50% !important;
            transform: translateX(-50%);
            bottom: -35px !important;
        }
    }
}



