.sect6{
	background: #479896;
	padding: rem(120) 0 rem(122) 0;
	background-image: url(../images/green_BG_1.jpg);
	background-size: cover;

	.wrapper{
		width: rem(960);
		height: 100%;
	}

	&__content{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: rem(100);
		background: $white;
		-webkit-clip-path: polygon(0 0, 100% 0, 96% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 98% 100%, 0 95%);
		// background-image: url(../images/text-BG-about-us.png);
		// background-size: cover;
	}

	&__titleblcok{
		padding-bottom: rem(30);
	}

	&__descblock{
		p{
			font-size: rem(18);
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.67;
			letter-spacing: normal;
			color: $black;
		}
	}
}




@media screen and (max-width:769px){
    .sect6{
		padding: 60px 0;

		&__content{
			padding: 50px 10px;
		}

		&__titleblcok{
			padding-bottom: 15px;
		}

		&__descblock{
			p{
				font-size: 16px;
				line-height: 1.75;
			}
		} 
    }
}