.sect3{
    padding: 0 0 rem(120) 0 ;

    .wrapper{
		width: rem(850);
    }

    &__itemblock{
        text-align: center;
    }

    &__icon{
        margin-bottom: rem(30);
        img{
            width: rem(100);
            height: rem(100);
        }
    }

    &__title{
        span{
            font-family: Pistacho;
            line-height: rem(6);
            font-size: rem(60);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
        }
    }
}




@media screen and (max-width:769px){
    .sect3{
        padding: 0 0 100px 0;
        
        &__title{
            span{
                font-size: 20;
                font-weight: 900;
                line-height: 0.67;
            }
        }
    }
}