.sect1{
    background: #479896;
    padding: rem(197) 0 rem(208) 0;
    background-image: url(../images/green_BG_1.jpg);
    background-size: cover;

    .wrapper{
        width: rem(1190);
    }

    &__content{
        display: flex;
    }

    &__descblock{
        width: rem(670);
        height: rem(245);
        margin-bottom: rem(18);
        img{
            width: 100%;
            &:last-child{
                display: none;
            }
        }
    }

    &__buttonblock{
        a{
            width: rem(182);
            height: rem(42);
            cursor: pointer;
            outline: none;
            border: none;
            font-size: rem(20);
            background: transparent;
            padding: rem(6) rem(10) rem(10) rem(10);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            background-image: url(../images/btn-BG-read-our-story.png);
            border: none;
            background-size: cover;
            span{
                font-family: Pistacho;
                font-size: rem(35);
                line-height: 0.2;
                height: rem(20);
                padding-right: rem(6);
                color: $black;
           }
            &:hover {
                animation: example .6s;
            }
        
            &:active {
                transform: scale(0.99);
                transition: 0s;
            }
            img{
                margin: rem(6) 0 0 rem(6);
                width: rem(16);
                height: rem(16);
                transform: rotate(90deg);
            }
        }

        @keyframes example {
            0%   {transform: rotate(0deg);}
            25%  {transform: rotate(5deg);}
            50%  {transform: rotate(-3deg);}
            100% {transform: rotate(0deg);}
        }
    }

    &__imgblock{
        position: absolute;
        top: -30px;
        img{
            width: rem(507);
            height: rem(690);
        }
    }
}




@media screen and (max-width:769px){
    .sect1{
        padding: 99px 0 237px 0;

        &__content{
            flex-direction: column;
        }
        
        &__descblock{
            img{
                width: auto;
                height: auto;
                &:first-child{
                    display: none;
                }
                &:last-child{
                    display: block;
                }
            }
        }

        &__buttonblock{
            a{
                cursor: pointer;
                width: 157px;
                height: 36px;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.53;
                letter-spacing: 0.5px;
                padding: 10px 5px 8px 10px;
                display: flex;
                justify-content: space-between;
                margin-top: -50px;

                span{
                    font-size: 26px;
                }

                img{
                    margin: 0 13px 0 0 ;
                    width: 13px;
                    height: 13px;
                }
            }
        }

        &__imgblock{
            top: inherit;
            padding-top: 38px;
            left: 36%;
            transform: translateX(-50%);
            img{
                width: 254px;
                height: auto;

            }
        }
    }
}


@media screen and (max-width:500px){
    .sect1{
        &__imgblock{
            right: -13px;
            left: inherit;
            transform: none;
        }   
    }
}
