.sect4{
	padding: rem(120) 0 rem(140) 0;
	background: #479896;

	&__titleblock{
		padding-bottom: rem(50);
	}

	&__infoblock{
		img{
			width: rem(751);
			height: rem(975);
		}
	}
}


@media screen and (max-width:769px){
    .sect4{
        
    }
}