
@import "helpers/varibles.scss";
@import "mixin/pxem.scss";


@import "common/common_styles.scss";
@import "common/wrapper.scss";
@import "common/header.scss"; 
@import "common/adapt_menu.scss";
@import "common/footer.scss";
@import "common/buttons.scss"; 
@import "common/title.scss"; 
@import "common/subtitle.scss"; 
@import "common/swiper.scss"; 



@import "components/sect1.scss";
@import "components/sect2.scss";
@import "components/sect3.scss";
@import "components/sect4.scss";
@import "components/sect5.scss";
@import "components/sect6.scss";
@import "components/sect7.scss";
@import "components/sect8.scss";
@import "components/sect9.scss";
@import "components/blockslider.scss";














