    // adapt menu

.adaptmenu{
    transform: translateY(-200%);
    transition: 1s;
    width: 100vw;
    background-color: $black;
    height: rem(80);
    position: fixed;
    z-index: 1000;
    top: rem(80);
    right: 0;

    &__content{
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 rem(279) 0 rem(279);
    }

    &__item{
        height: 100%;
        display: flex;
        align-self: center;

        a{
            height: 100%;
            display: flex;
            align-items: center;
            color: $white;
            text-transform: uppercase;
            position: relative;
            font-size: rem(20);
            padding: 0 6px;
            &:before{
                position: absolute;
                content: '';
                top: 0;
                left: 50%;
                display: block;
                width: 0px;
                height: rem(5);
                background: #8ee7d4;
                transform: translateX(-50%);
                transition: 0.3s;
            }
            &:hover{
                color: #8ee7d4;
            }
            &:hover:before{
                width: 100%;
            }
        }
    }  
}

.adaptmenu_active{
    transform: translateY(0);
}




@media screen and (max-width:769px){
    .adaptmenu{
        overflow: scroll;

        &__content{
            padding: 0 20px;
            width: 220%;
        }

        &__item{
            a{
                font-size: 16px;
            }
        }
    }
}