.button{
    height: rem(42);
    background-color: $black;
    padding: rem(10);
    font-size: rem(20);
    border: none;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;

    &:hover{
        
    }

    &:active{
        
    }
    
}

@media screen and (max-width:769px){
    .button{
        
    }
}
