.footer{
    background: #479896;
    padding: rem(60) 0;
    background-image: url(../images/bg_footer.png);

    &__content{
        text-align: center;
    }

    &__logo{
        padding-bottom: rem(30);
        img{
            width: rem(161);
            height: rem(70);
        }
    }

    &__social{
        padding-bottom: rem(30);
        a{
            margin: 0 rem(7.5);
        }
        img{
            width: rem(30);
            height: rem(30);
        }
    }

    &__bottom{
        display: flex;
        flex-direction: column;

        a{
            font-size: rem(16);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.63;
            letter-spacing: normal;
            color: #8ee7d4;
        }
    }
   
}