.header{
    padding: rem(15) 0;
    position: absolute;
    width: 100%;
    height: rem(80);

    .wrapper{
        width: rem(1190);
    }

    &__content{
        display: flex;
        justify-content: space-between;
        align-self: center;
    }

    &__left{
        display: flex;
    }

    &__logo{
        img{
            width: rem(113.2);
            height: rem(50);
        }
    }

    &__right{
        display: flex;
        align-self: center;
    }

    &__select{
        position: relative;
        span{
            font-size: 18px;
            text-transform: uppercase;
            cursor: pointer;
       }
    } 

    &__blockbutton{
        padding-right: rem(30);
    }

    &__burger{
        display: flex;
        align-items: center;
    }

    .burger{
        cursor: pointer;
        &__line {
            width: rem(23);
            height: rem(4);
            background-color: $white;
            margin-bottom:rem(4);
        }
    }
}


@media screen and (max-width:769px){
    .header{
    
        &__logo{
            img{
                width: rem(67);
                height: rem(30);
            }
        }  
        
        &__blockbutton{
            display: none;
        }

        .burger{
            &__line {
                width: rem(26);
                height: rem(4);
                background-color: $white;
                margin-bottom:rem(4);
            }
        }

       
    }
}
