.wrapper{
    width: rem(730);
    //1036
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}  


@media screen and (max-width:769px){
    .wrapper{
        width: 100% !important;
    }
}
    
